@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>The collection of hilarious jokes I've gathered over my expeditions on the internet ;) </p>
    </div>
