@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Since this program is running on localhost i.e. this PC security is not much of an issue. But if you would like, go check out 
    <a href="https://usa.kaspersky.com/resource-center/preemptive-safety/top-10-internet-safety-rules-and-what-not-to-do-online">
    Top 10 internet safety rules</a></p>

